<header class="page-header">
  <h1>About Us</h1>
</header>

<p>We are a small but fancy and unique store.</p>
<p>Our Story began more then 10000 years back, when the first unique things merchent sold his first, useless in one glance, unique item.
This item was a simple dirty oil lamp. Don't be fooled by the simplicity and uselessness of this item. It was unique in the way that when you rub off the dirt, a magic creature by the name "Greate Jiny jin jin" will be summond, and grant you 3 fishes.
After the marchent succefully sold this unique item, he decided to open a store chain called "Jungle", where you can find all sorts of unique items.
This business was passed from generation to generation and now it even went online.</p>

<p>So don't be shy friends, come on in and find your next unique item now!</p>
<%= link_to 'Find Your Unique Item', :root , class: "btn btn-primary"%>
